<html>
<head>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <script>
    angular
      .module('login_fail', ['ngMaterial'])
      .controller('AppCtrl', function($scope){
        $scope.retrun_login = function(){
          location.href="/auth/login";
        };

        $scope.text = {
          header: '이름과 주민등록번호를 확인해주십시오.',
          btn_msg: '투표권 재발급',
        };

        $scope.path={
          err_img:'/img/error.png'
        }

      });
  </script>
  <title>
    투표불가
  </title>
</head>
<body ng-app="login_fail" ng-controller="AppCtrl" style="background-color: gray">
  <div hide show-xs layout-padding>
    <div class="md-whiteframe-4dp" flex layout="column" layout-padding style="background-color: white">
      <md-toolbar flex="10" layout-align="center center" class="md-whiteframe-2dp">
        <div class="md-title">
          {{text.header}}
        </div>
      </md-toolbar>
      <div layout="column">
        <div flex="10">
        </div>
        <div flex="30" layout="column" layout-align="center center">
          <div>
            <img ng-src={{path.err_img}} />
          </div>
        </div>
        <div flex="10" text-align="center">
        </div>
        <div flex="10" layout="row" layout-align="center" layout-margin>
          <md-button class="md-raised" ng-click="retrun_login()">
            {{text.btn_msg}}
          </md-button>
        </div>
      </div>
    </div>
  </div>

  <div hide show-gt-xs layout-padding layout="row" layout-align="center center" >
    <div style="width:400px; height:600px">
    <div class="md-whiteframe-4dp" flex layout="column" layout-padding style="background-color: white">
      <md-toolbar flex="10" layout-align="center center" class="md-whiteframe-2dp">
        <div class="md-title">
          {{text.header}}
        </div>
      </md-toolbar>
      <div layout="column">
        <div flex="10">
        </div>
        <div flex="30" layout="column" layout-align="center center">
          <div>
            <img ng-src={{path.err_img}} />

          </div>
        </div>
        <div flex="10" text-align="center">
        </div>
        <div flex="10" layout="row" layout-align="center" layout-margin>
          <md-button class="md-raised" ng-click="retrun_login()">
            {{text.btn_msg}}
          </md-button>
        </div>
      </div>
    </div>
    </div>
  </div>
</body>
</html>
