<html>
<head>
    <meta charset="utf-8">
    <title>대통령 선거</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <script>
        angular
            .module('mk_presidential_election', ['ngMaterial'])
            .controller('AppCtrl', function($scope) {
                $scope.go_to_presidential_election_page = function() {
                    location.href = '/presidential_election';
                };
                $scope.go_to_select_page = function() {
                    location.href = '/select_page';
                };
            });
    </script>
</head>
<body>
<div ng-app="mk_presidential_election" ng-controller="AppCtrl">
    <div class="md-whiteframe-4dp" >
        <div  layout-padding>
            <md-toolbar >
                <h3>생성할 대선 관련 정보 입력 페이지</h3>
            </md-toolbar>
            <div layout="row" ng-controller="AppCtrl">
                <div style="background-color: aquamarine; padding: 4px">
                    <div style="background-color: antiquewhite; padding: 4px">
                        <div>선거일시</div>
                    </div>
                    <div style="background-color: #0f9d58; padding: 4px;">후보자</div>
                </div>
            </div>
            <div layout="row" ng-controller="AppCtrl">
                <md-button
                        flex="50"
                        class="md-raised"
                        ng-click="go_to_select_page()">
                    생성
                </md-button>
                <md-button
                        flex="50"
                        class="md-raised"
                        ng-click="
                        go_to_presidential_election_page()">
                    투표바로가기
                </md-button>
            </div>
        </div>
    </div>
</div>
</body>
</html>