<html>

<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.1/angular-messages.min.js"></script>

    <script>
        angular
            .module('register_page', ['ngMaterial', 'ngMessages']);
    </script>

    <title>
        회원가입
    </title>
</head>

<body ng-app="register_page" layout-padding>
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-6 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <!--<h2 class="header blue lighter bigger" style="text-align: center;">-->
                            <!--register-->
                        <!--</h2>-->
                        <md-toolbar layout-padding>
                            <h3 layout-margin>
                                선거 제작을 위한 회원가입 페이지
                            </h3>
                        </md-toolbar>

                        <br/>
                        <form name="registerForm" class="form-horizontal" role="form" style="padding-top: 20px;">
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="email">Email</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="Email" name="email" ng-model="register.email" focus/>
                                        <span ng-show="registerForm.email.$error.email" class="help-inline">Email is not valid</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="password">Password</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name = "password" placeholder="Password" ng-model="register.password" required/>
                                <small class="errorMessage" data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid"> Enter Password.</small>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="password2">Confirm Password</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name="password2" placeholder="Password Again" ng-model="register.password2" password-match="register.password" required/>
                                <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.required"> Enter password again.</small>

                               <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required"> Password do not match.</small>

                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="name">Name</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Name" ng-model="register.name" />
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="phone">Phone</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Phone" name="phone" ng-model="register.phone"/>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="address">Address</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Address" ng-model="register.address" />
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="lbl col-sm-5"> </span>
                                <div class="col-sm-7">
                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="register(register)" data-ng-disabled="registerForm.$invalid">
                                        register
                                    </button>
                                </div>
                            </div>
                            </fieldset>
                            <span class="lbl col-sm-5"> </span>
                            <div class="col-sm-7">Already have an account? <a href="/login">로그인</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
<!-- /.page-content -->


<!--
<html>

<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.1/angular-messages.min.js"></script>

    <script>
        angular
            .module('login_page', ['ngMaterial', 'ngMessages']);
    </script>

    <title>
        회원가입
    </title>
</head>

<body ng-app="register_page" layout-padding>
<div class="md-whiteframe-4dp">
    <md-toolbar layout-padding>
        <h3 layout-margin>
            회원가입 페이지입니다
        </h3>
    </md-toolbar>
    <form layout-padding name="login_form" action="/auth/login" method="post">
        <div layout="column">
            <md-input-container flex="5">
                <label>
                    아이디
                </label>
                <input
                        type="text"
                        name="username"
                        ng-model="username"
                        required />

                <div ng-messages="login_form.username.$error">
                    <p ng-message="required">아이디를 입력하세요</p>
                </div>
            </md-input-container>
            <md-input-container flex="5">
                <label>
                    비밀번호
                </label>
                <input
                        type="text"
                        name="password"
                        ng-model="password"
                        md-maxlength="12"
                        minlength="3"
                        required />

                <div ng-messages="login_form.password.$error">
                    <p ng-message="required">비밀번호를 입력하세요</p>
                    <p ng-message="minlength">Password is too short.</p>
                    <p ng-message="md-maxlength">Password is too long.</p>
                </div>
            </md-input-container>
            <md-input-container flex="5">
                <label>
                    비밀번호 확인
                </label>
                <input
                        type="text"
                        name="password"
                        ng-model="password"
                        md-maxlength="12"
                        minlength="3"
                        required />

                <div ng-messages="login_form.password.$error">
                    <p ng-message="required">비밀번호를 입력하세요</p>
                    <p ng-message="minlength">Password is too short.</p>
                    <p ng-message="md-maxlength">Password is too long.</p>
                </div>

            </md-input-container>

            <div flex="5" layout="row" layout-align="center" layout-margin>
                <md-button flex="grow" class="md-raised" type="submit">
                    로그인하기
                </md-button>
            </div>
        </div>
    </form>
</div>
</body>

</html>
-->
