<html>
<head>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <script>
    angular
      .module('login_fail_null', ['ngMaterial']);
  </script>
  <title>
    투표불가
  </title>
</head>

<body ng-app="login_fail_null" layout-padding>
  <div class="md-whiteframe-4dp">
    <md-toolbar layout-padding>
      <h3>
        코인을 발급 받아주시기 바랍니다.
      </h3>
    </md-toolbar>
    <div layout="row" layout-margin>
      <md-button href="/auth/login" class="md-raised" flex="grow">
        투표권 발급
      </md-button>
    </div>
  </div>
</body>
</html>
