<html>

<head>
  <title>Voteing Paper</title>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

  
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <script src="truffle-contract.js"></script>
  <script src="president_election.js"></script>

  <script>
    angular
      .module('voting_paper', ['ngMaterial'])
      .controller('form_controller', function($scope, $http) {
        $scope.text = {
          title: '투표',
          btn_vote_msg: '투표',
          btn_cancle_msg: '투표 취소',
          btn_voter_info_msg: '후보자 정보 확인',
        };
        $scope.candidate = {
          label: '0',
          party: '',
          name: "미후보"
        };
        var label_cnt = 4;
        $scope.candidates = [{
            label: '1',
            party: '더불어민주당',
            name: "문 재 인",
            img: '/img/candidate_1.png',
          },
          {
            label: '2',
            party: '자유한국당',
            name: "홍 준 표",
            img: '/img/candidate_2.png',
          },
          {
            label: '3',
            party: '국민의당',
            name: "안 철 수",
            img: '/img/candidate_3.png',
          },
        ];
        $scope.submit = function() {
          if ($scope.candidate.label == '0') {
            //후보자가 없는 경우 투표하는 조건을 다시 구성해야 한다.
            alert("아무 후보도 선택하지 않았습니다. 다시 선택해 주세요.");
          } else {
            //선택한 경우

            $http({
                url: '/try_voting',
                method: "POST",
                data: {
                  'label': $scope.candidate.label
                }
              })
              .then(function(response) {
                  App.castVote($scope.candidate.label);
                  console.log("posted successfully");
                  // location.href = '/vote_success';
                },
                function(response) {
                  console.error("error in posting");
                  alert("투표가 정확하게 이루어지지 않았습니다. 다시 투표해 주시기 바랍니다.");
                });
          }
        };
        $scope.addItem = function() {
          $scope.candidates.push({
            label: label_cnt,
            value: "미후보"
          });
          label_cnt++;
        };
        $scope.removeItem = function() {
          if (label_cnt > 1) {
            $scope.candidates.pop();
            label_cnt--;
          } else {
            alert('삭제할 후보가 없습니다.');
          }
        };
      });
  </script>
</head>
<body ng-app="voting_paper" ng-controller="form_controller">
  <div hide show-xs flex layout-padding>
    <div class="md-whiteframe-4dp" flex layout="column">
      <div flex="10">
        <md-toolbar layout-align="center center" class="md-whiteframe-3dp">
          <h4>{{text.title}}</h4>
        </md-toolbar>
      </div>
      <div flex="80">
        <form ng-submit="submit()" ng-cloak="">
          <div flex layout="column">
            <div flex="10"></div>
            <div flex="50">
              <md-radio-group ng-model="candidate">
                <div layout="column" ng-repeat="candidate in candidates">
                  <div style="height:60px;" layout-padding>
                    <div layout="row">
                      <div layout="column" flex="20" layout-align="center center">
                        <md-radio-button ng-value="candidate"></md-radio-button>
                      </div>
                      <div layout="column" flex>
                        <div flex="40">
                          <div> {{ candidate.party }} </div>
                        </div>
                        <div flex="10"></div>
                        <div layout="row" flex="40">
                          <div flex="10"> {{ candidate.label }} </div>
                          <div flex="10"></div>
                          <div flex="60"> {{ candidate.name }} </div>
                        </div>
                        <div flex="10"></div>
                      </div>
                      <div flex="10" layout-align="center center">
                        <img ng-src={{candidate.img}} />
                      </div>
                    </div>
                    <md-divider></md-divider>
                  </div>
                </div>
              </md-radio-group>
            </div>
            <div flex="20">
              <div layout="column">
                <md-button class="md-raised" type="submit">{{text.btn_vote_msg}}</md-button>
              </div>
              <div layout="row">
                <md-button flex class="md-raised" href="/auth/logout" type="button">{{text.btn_cancle_msg}}</md-button>
                <md-button flex class="md-raised" href="/voter_info" type="button">{{text.btn_voter_info_msg}}</md-button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div hide show-gt-xs flex>
    <div layout-margin class="md-whiteframe-4dp">
      <div layout-padding>
        <md-toolbar layout-padding>
          <div>
            <h3>{{text.title}}</h3>
          </div>
        </md-toolbar>
        <form ng-submit="submit()" ng-controller="form_controller" ng-cloak="">
          <div layout-padding layout-margin>
            <md-radio-group ng-model="candidate">
              <div layout="column" ng-repeat="candidate in candidates">
                <div layout="row" layout-padding layout-align="space-around center">
                  <div flex="10">
                    <md-radio-button layout-margin layout-padding ng-value="candidate">
                    </md-radio-button>
                  </div>
                  <div flex="10" layout-margin layout-padding>
                    {{ candidate.label }}
                  </div>
                  <div flex="40" layout-margin layout-padding>
                    {{ candidate.party }}
                  </div>
                  <div flex="40" layout-margin layout-padding>
                    {{ candidate.name }}
                  </div>
                  <div flex="10" layout-align="center center">
                    <img ng-src={{candidate.img}} />
                  </div>
                </div>
                <md-divider></md-divider>
              </div>
            </md-radio-group>
          </div>
          <div layout="column">
            <md-button class="md-raised" type="submit">{{text.btn_vote_msg}}</md-button>
          </div>
          <div layout="row">
            <md-button flex class="md-raised" href="/auth/logout" type="button">{{text.btn_cancle_msg}}</md-button>
            <md-button flex class="md-raised" href="/voter_info" type="button">{{text.btn_voter_info_msg}}</md-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
