<html>

<head>
  <meta charset="utf-8">
  <title>vote success</title>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <script>
    angular
      .module('VoterInfo', ['ngMaterial'])
      .controller('AppCtrl', function($scope) {
        $scope.finish_vote = function() {
          location.href = '/auth/logout';
        };
        $scope.text = {
          header: '투표 완료',
          btn_msg: '투표 종료',
        }
      });
  </script>
</head>

<body ng-app="VoterInfo" ng-controller="AppCtrl" style="background-color: gray">
  <div hide show-xs layout-padding>
    <div class="md-whiteframe-4dp" flex layout="column" layout-padding style="background-color: white">
      <md-toolbar flex="10" layout-align="center center" class="md-whiteframe-2dp">
        <div class="md-title">
          {{text.header}}
        </div>
      </md-toolbar>
      <div layout="column">
        <div flex="10">
        </div>
        <div flex="30" layout="column" layout-align="center center">
          <div>
            IMG
          </div>
        </div>
        <div flex="10" text-align="center">
        </div>
        <div flex="10" layout="row" layout-align="center" layout-margin>
          <md-button class="md-raised" flex="grow" ng-click="finish_vote()">
            {{text.btn_msg}}
          </md-button>
        </div>
      </div>
    </div>
  </div>

  <div hide show-gt-xs layout-padding layout="row" layout-align="center center">
    <div style="width:400px; height:600px">
      <div class="md-whiteframe-4dp" flex layout="column" layout-padding style="background-color: white">
        <md-toolbar flex="10" layout-align="center center" class="md-whiteframe-2dp">
          <div class="md-title">
            {{text.header}}
          </div>
        </md-toolbar>
        <div layout="column">
          <div flex="10">
          </div>
          <div flex="30" layout="column" layout-align="center center">
            <div>
              IMG
            </div>
          </div>
          <div flex="10" text-align="center">
          </div>
          <div flex="10" layout="row" layout-align="center" layout-margin>
            <md-button class="md-raised" flex="grow" ng-click="finish_vote()">
              {{text.btn_msg}}
            </md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
